<!DOCTYPE html>
<html>
    <head>
        <title>{assunto}</title>
        <style>

        </style>
    </head>
    <body>
        <div class="topo">
            <img src="http://www.portaisimobiliarios.com.br/imagens/logo.png">
        </div>
        <div class="container">
            <div class="conteudo">
                <div class="title">
                    Prezado(a), {usuario_nome}
                </div>
                <div class="body">
                    <p>Data: {date}</p>
                    <p>
                        <b>{assunto}</b><br>
                    </p>
                    <h3>Sobre o Imóvel:</h3>
                    <img src="{imovel_image}" style="width: 250px; height: 200px;">
                    <p>{assunto}</p>
                    <p>{imovel_nome}</p>

                    <br><br>
                    <a href="{imovel_link}">Clique e Visite novamente</a><br>
                    ou copie esta link no seu navegador: {imovel_link}
                    <h3>Seu contato a imobiliaria: {empresa_nome_fantasia}.</h3>
                    <p>Nome do contato na imobiliária: {contato_nome}</p>
                    <h3>Seus dados: {usuario_nome}</h3>
                    <p>E-mail: {usuario_email}</p>
                    <p>Telefone: {usuario_telefone}</p>
                    <p>Formas que você informou que gostaria de ser contatado: </p>
                    <h3>Mensagem:</h3>
                    {message}
                    <br><br>
                    <p>Esse email foi enviado a partir do portal {portal} em função de seu cadastro em portal integrante da rede PortaisImobiliarios.com.br</p>
                    <p>Caso tenha dificuldades com este e-mail, nos informe, entrando em contato com a POW para mais informações.</p>
                    <br>
                    <p>Agradecemos a atenção e nos colocamos a disposição em caso de dúvidas.</p>
                    <br>
                    <p>Atenciosamente,</p>
                    <br>
                    <p>Comercial</p>
                    <p>POW Internet</p>
                    <p>comercial@pow.com.br</p>
                    <p>Fone: (41) 3382-1581</p>
                    <p><b>Nos informe se a imobiliária não entrar em contato com você.</b></p>
                </div>
            </div>
            <div class="rodape text-center">
                Este é um e-mail automático.
            </div>
        </div>
    </body>
</html>
