<!DOCTYPE html>
<html>
    <head>
        <title>Pergunta de usuário para você</title>
        <style>

        </style>
    </head>
    <body>
        <div class="topo">
            <img src="http://www.portaisimobiliarios.com.br/imagens/logo.png">
        </div>
        <div class="container">
            <div class="conteudo">
                <div class="title">
                    Prezado(a), {contato_nome} - {empresa_nome_fantasia}
                </div>
                <div class="body">
                    <p>Data: {date}</p>
                    <p>
                        <b>{assunto}</b><br>
                    </p>
                    <h3>Dados do usuário:</h3>
                    <p>Nome: {usuario_nome}</p>
                    <p>E-mail: {usuario_email}</p>
                    <p>Telefone: {usuario_telefone}</p>
                    <h3>Mensagem:</h3>
                    {message}
                    <br><br>
                    <a href="{imovel_link}">Clique e confira o imóvel contatado</a><br>
                    ou copie esta link no seu navegador: {imovel_link}
                    <p>Esse email foi enviado a partir do portal {portal} em função de seu cadastro em portal integrante da rede PortaisImobiliarios.com.br</p>
                    <p>Caso tenha dificuldades com este e-mail, nos informe, entrando em contato com a POW para mais informações.</p>
                    <br>
                    <p>Agradecemos a atenção e nos colocamos a disposição em caso de dúvidas.</p>
                    <br>
                    <p>Atenciosamente,</p>
                    <br>
                    <p>Comercial</p>
                    <p>POW Internet</p>
                    <p>comercial@pow.com.br</p>
                    <p>Fone: (41) 3382-1581</p>
                </div>
            </div>
            <div class="rodape text-center">
                Este é um e-mail automático.
            </div>
        </div>
    </body>
</html>
